@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    color: #ffffff;
    background-color: #F55A5A;
}

.header-globe {
    width: 24px;
    height: 24px;
    margin-right: 7px;
}
.header-title {
    font-size: 15px;
    font-weight: 500;
    font-family: "Inter", serif;
}